<!doctype html>
<html lang="en">
  
  {% include head.html %}

  <body>
    
    {% include header.html %}

    <div class="col-lg-8 mx-auto p-4 py-md-5">

      <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://news.mit.edu/sites/default/files/download/201810/MIT-Computer-Announce-01-PRESS.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">MIT - 6.00: Introduction to Computer Science </h1>
          <p class="lead">I really enjoy this course and the Harvard CS50x course so I wanted to create a simple website that others could download and setup and take the course on their own time. This is that website. Download the Docker image below to begin. I am implementing a login system so you can login and keep track of your progress. View the README to understand how to install this site. Read the docs to understand how it works.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Download Docker</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">View README</button>
          </div>
        </div>
      </div>
      
      <hr class="col-10 mt-5 mb-5">

      {% include main.html %}

      {% include footer.html %}

    </div>
      
  </body>
</html>
